DEBUG = False

##################
## Directories ###
##################
ROOTDIR = "rootdir"
TEMPDIR = "temp" # relative to rootdir
LOGDIR = "logs" # relative to rootdir

##################
## Log Files #####
##################
LOGFILE = "messages.log" # relative to logdir
DEBUGFILE = "debug.log" # relative to logdir

##################
## MongoDB #######
##################
MONGODB_ENABLE = True
MONGODB_HOST = "localhost"
MONGODB_DB = "dbname"
MONGODB_CONNECT = False

##################
## Celery ########
##################
CELERY_ENABLE = True

##################
## Flask-Session #
##################
SESSION_ENABLE = True

##################
## Mail ##########
##################
MAIL_SENDER = 'noreply@duckworth.com'
MAIL_URL = 'apiurl'
MAIL_APIKEY = 'apikey'

##################
## Site Settings #
##################
SITE_NAME = 'My Site'
